params.samplesheet = "${projectDir}/data/samplesheet_processed.csv"
params.out = "${projectDir}/run/"
params.star_cpus = "15"
params.secundo = ""
params.latest_ens = "Ens_110"
params.bacteria = ""

conda.enabled = true

profiles {
    local {
        process.conda = '/home/compbio_svc/miniconda3/envs/RoboIndex_ENV'
        process.executor = 'local'
        }
    
    standard {
        process{ 
            conda = '/home/compbio_svc/miniconda3/envs/RoboIndex_ENV'
            executor = 'slurm'

            withLabel: big_mem {
                cpus = 10
                memory = 100.GB
            }

            withLabel: lil_mem {
                cpus = 2
                memory = 10.GB
            }

        }
    }
}
